name: publish to wally

on:
  release:
    types: [published]

permissions:
  contents: write

env:
  GH_TOKEN: ${{ github.token }}

jobs:
  wally:
    runs-on: ubuntu-latest
    steps:

      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: setup rokit
        uses: CompeyDev/setup-rokit@v0.1.2

      - name: login
        shell: pwsh
        run: |
          mkdir -p $env:USERPROFILE/.wally
          echo '${{ secrets.WALLY_AUTH_TOML }}' > $env:USERPROFILE/.wally/auth.toml

      - name: publish
        run: wally publish
